.filter-container {
  display: flex;
  gap: 8px;
  margin-bottom: 24px;
  background-color: #e5e7eb;
  padding: 4px;
  border-radius: 8px;
}

.filter-button {
  flex: 1; /* Faz os botões ocuparem o mesmo espaço */
  padding: 8px 12px;
  border: none;
  background-color: transparent;
  color: var(--subtle-text-color);
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  font-family: var(--font-sans);
  font-size: 14px;
  transition: background-color 0.2s, color 0.2s;
}

.filter-button.active {
  background-color: var(--card-background-color);
  color: var(--primary-color);
  box-shadow: 0 1px 3px rgba(0,0,0,0.05);
}

.filter-button:not(.active):hover {
    background-color: #d1d5db;
    color: var(--text-color);
}